*{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background: linear-gradient(to right, #b042ff, #00FFFF);
    
}

header{
    background: url('tutor_bg.png') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 400px;
    margin-bottom: 100px;
    
}
